@import './colors.scss';

* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

section {
    padding: 1em;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;

    &:disabled {
        opacity: .5;
    }
}

a {
    color: #000;
    font-size: 14px;
}

ul {
    padding: 0;
    list-style: none;
}
